@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-palt {
    font-feature-settings: 'palt' 1;
  }
  .thumb {
    width: 60px;
    height: 60px;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-palt;
  }
  a {
    @apply hover:opacity-70;
  }
}

article {
  blockquote.twitter-tweet {
    @apply border border-l border-gray-300 rounded-2xl bg-white p-4;
  }
  .embedTweet:not(.embedTweetLoaded) {
    @apply flex flex-col justify-center items-center;
  }
  iframe,
  .twitter-tweet {
    @apply mx-auto;
  }
  a.autoLink {
    @apply inline-block border-l-4 border-green-500 px-3 ml-2;
  }
}
